.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.avatar {
  height: 100px;
  aspect-ratio: 1 / 1;
}

.avatar > img {
  border-radius: 10%;

  height: 100%;
  width: 100%;

  transition: 0.5s;
}

.info {
  > .title {
    font-weight: 700;
    font-size: 16px;

    span {
      font-size: 10px;
      background-color: #181818;
      color: #dbdbdb;
      border: 1px solid #2c2c2c;
      border-radius: 5px;
      padding: 1px 5px;
    }
  }
}

.info > .description {
  font-size: 12px;

  margin-top: 10px;
}
