.main {
  width: 100%;

  padding: 25px;

  display: flex;
  position: relative;

  align-items: center;
  justify-content: center;

  gap: 20px;
}

.link {
  color: white;

  text-decoration: none;
}
